@import 'styles/colors';

body, html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background: $color-dark;
  user-select: none;
}
