@import '../styles/colors';

.layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "layout-sidebar layout-main";
}

.sidebar {
  overflow: hidden;
  background: $color-darkGray-dark;
  color: $color-lightGray-light;
  grid-area: layout-sidebar;
  box-shadow: 2px 0 6px $color-mediumGray-light;
  font-weight: 300;
  text-shadow: -1px -1px 1 darken($color-darkGray-dark, 100);
  border-right: 1px solid $color-lightGray-dark;

  .sidebar-header {
    background: $color-aqua-dark;
    text-align: center;
    box-shadow: 0 2px 6px darken($color-darkGray-dark, 4);

    .logo {
      width: 110px;
      fill: white;
      margin: 10px;
    }
  }
}

.main {
  grid-area: layout-main;
  min-height: 100px;
  overflow: auto;
  padding: 12px;
}
