@import '../styles/colors';

.layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "layout-sidebar layout-main";
}

.sidebar {
  background: $color-darkGray-dark;
  grid-area: layout-sidebar;
}

.main {
  grid-area: layout-main;
  min-height: 100px;
  overflow: auto;
}
