@import '../../styles/colors';

$gauge-size: 150px;

.gauge-container {
  display: inline-block;
  text-align: center;
  .gauge-label {
    display: inline-block;
    transform: translate(0, -20px);
  }
}

::ng-deep {
  mwl-gauge {
    width: $gauge-size;
    height: $gauge-size;
    display: inline-block;
  }

  mwl-gauge > .gauge > .dial {
    stroke: $color-mediumGray-light;
    stroke-width: 1;
    fill: rgba(0, 0, 0, 0);
  }

  mwl-gauge > .gauge > .value {
    stroke: $color-aqua-dark;
    stroke-width: 6;
    stroke-linecap: round;
    fill: rgba(0, 0, 0, 0);
  }

  mwl-gauge > .gauge > .value-text {
    font-family: inherit;
    fill: $color-lightGray-light;
    font-weight: 300;
    transform: translate(0, 12px);
    font-size: 36px;
  }
}
