$color-grapefruit-light: #ED5565;
$color-grapefruit-dark: #DA4453;
$color-bittersweet-light: #FC6E51;
$color-bittersweet-dark: #E9573F;
$color-sunflower-light: #FFCE54;
$color-sunflower-dark: #F6BB42;
$color-grass-light: #A0D468;
$color-grass-dark: #8CC152;
$color-mint-light: #48CFAD;
$color-mint-dark: #37BC9B;
$color-aqua-light: #4FC1E9;
$color-aqua-dark: #3BAFDA;
$color-blueJeans-light: #5D9CEC;
$color-blueJeans-dark: #4A89DC;
$color-lavander-light: #AC92EC;
$color-lavander-dark: #967ADC;
$color-pinkRose-light: #EC87C0;
$color-pinkRose-dark: #D770AD;
$color-lightGray-light: #F5F7FA;
$color-lightGray-dark: #E6E9ED;
$color-mediumGray-light: #CCD1D9;
$color-mediumGray-dark: #AAB2BD;
$color-darkGray-light: #656D78;
$color-darkGray-dark: #434A54;
